<!DOCTYPE html>

	<footer class="footer">
	    <div class="container">
	        <div class="row bottom-row">
                <div class="footer__about">
                    <div class="footer__logo">
                        <a href="/"><img src="/img/logo2.png"></a>
                    </div>
                    <p>ZARA... is Nothing</p>
                    <p>Help DOC... is best of legend of world of best</p>
                    <p>ZARA는 긴장해라 초신성 Help DOC이 간다.</p>
                </div>
                <div class="footer__widget">
                    <h6>개인 광고 협의해</h6>
                    <ul>
                        <li><a href="https://www.zara.com/kr/">ZARA가 뭐길래???</a></li>
                        <li><a href="https://elibrary.me.go.kr/ebook/detail/?goods_id=77213471">Help DOC 그는 어떻게 이렇게 성장했나?</a></li>
                        <li><a href="https://papago.naver.com/">아직도 영어를 몰라?</a></li>
                        <li><a href="https://www.figma.com/">Figma</a></li>
                        <li><a href="https://www.erdcloud.com/">ERDCloud</a></li>
                        <li><a href="https://chatgpt.com/">코딩 스승이 필요해? 여기로 와라</a></li>
                    </ul>
                </div>
                <div class="footer__widget">
                    <h6>개인 광고 협의해</h6>
                    <ul>
                        <li><a href="https://www.zara.com/kr/">ZARA가 뭐길래???</a></li>
                        <li><a href="https://elibrary.me.go.kr/ebook/detail/?goods_id=77213471">Help DOC 그는 어떻게 이렇게 성장했나?</a></li>
                        <li><a href="https://papago.naver.com/">아직도 영어를 몰라?</a></li>
                        <li><a href="https://www.figma.com/">Figma</a></li>
                        <li><a href="https://www.erdcloud.com/">ERDCloud</a></li>
                        <li><a href="https://chatgpt.com/">코딩 스승이 필요해? 여기로 와라</a></li>
                    </ul>
                </div>
	        </div>
	        <div class="row">
	                <div class="footer__copyright__text">
	                    <p>Copyright &copy; <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a></p>
	                </div>
	        </div>
	    </div>
	</footer>