<!DOCTYPE html>

<!-- 구글 아이콘 -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<!-- jquery -->
<script src="/js/jquery-3.6.0.js"></script>
<!-- 기본 CSS -->
<link rel="stylesheet" href="/css/default.css">
<!-- 기본 js -->
<!--
	<script src="/js/default.js"></script>
	<script src="/js/sweetalert.min.js"></script>
-->

<header class="header">
	<div>
		<div class="logo">
			<a href="/">HELPDOC</a>
		</div>
		<nav class="nav">
			<ul>
				<li>
					<a href="#">진료예약</a>
				</li>
				<li>
					<a href="#">상담게시판</a>
				</li>
				<li>
					<a href="#">이용안내</a>
				</li>
				<li>
					<a href="#">마이페이지</a>
				</li>
			</ul>
		</nav>
	</div>
</header>	