<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>리뷰 작성</title>
<style>
	.page-title {
        text-align: center;
        padding: 30px;
        font-size: 25px;
    }
	.tbl{
		width: 1200px;
		border: 1px solid black;
		margin: 0 auto;
		padding: 10px;
	}
	
</style>
</head>
<body>
	<th:block th:include="common/header"></th:block>
	<main class="main">
		<section class="section">
			<div class="page-title">리뷰 작성</div>
			<table class="tbl">
				<tr>
					<th style="width:10%">작성자</th>
					<td style="width:40%">
						<span th:text="${session.member.memberId}"></span>
						<input type="hidden" name="reivewWriter" th:value="${session.member.memberId}">
					</td>
					<th style="width:10%">담당의</th>
					<td style="width:40%">
						<input type="text" name="doctorName" id="doctorName">
					</td>
				</tr>
				<tr>
					<td colspan="4">
						<div>
							<textarea name="reviewContent"></textarea>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<button type="submit" class="ok-btn">리뷰 등록</button>
					</td>
					<td>
						<button type="submit" class="can-btn">리뷰 취소</button>
					</td>
				</tr>
			</table>
		</section>
	</main>
		<script>
		$(".ok-btn").on("click",function(){
			swal({
				title : "등록 완료",
				text : "등록이 완료되었습니다.",
				icon : "success",
				buttons : {
					confirm : {
						text : "확인",
						value : true,
						visible : true,
						closeModal : true
					},
					cancle : {
						text : "취소",
						value : false,
						visible : true,
						closeModal : true
					}
				}
			}).then(function(isConfirm){
				if(isConfirm){
					location.href = "/review/list?reqPage=1";	
				}
			});
		});
		$(".can-btn").on("click",function(){
			swal({
				title : "작성 취소",
				text : "작성을 취소하시겠습니까?",
				icon : "warning",
				buttons : {
					confirm : {
						text : "확인",
						value : true,
						visible : true,
						closeModal : true
					},
					cancle : {
						text : "취소",
						value : false,
						visible : true,
						closeModal : true
					}
				}
			}).then(function(isConfirm){
				if(isConfirm){
					location.href = "/review/list?reqPage=1";	
				}
			});
		});
	</script>
	<th:block th:include="common/footer"></th:block>
</body>
</html>