<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>회원 내 정보</title>
<style>
	.page-title{
		text-align: center;
		padding: 30px;
		font-size: 25px;
	}
	.page-menu{
		width: 1500px;
		margin: 0 auto;
		overflow: hidden;
	}	
	.menu-title{
		padding: 10px;
		border: 1px solid black;
		border-radius: 15px;
		width: 200px;
		float: left;
		margin-right: 100px;
		text-align: center;
	}
	.info{
		margin: 0 auto;
		margin-bottom: 40px;
		width: 80%;
		border: 1px solid black;
		border-radius: 15px;
		padding: 10px;
		display: flex;
		align-items: center;
		width: 1200px;
		float: left;
	}
	.img{
		width: 400px;
		margin: 0 auto;
	}
	.intro{
		width: 700px;
	}
	.intro .input>input{
		border: none;
	}
</style>
</head>
<body>
	<th:block th:include="common/header"></th:block>
	<main class="main">
		<section class="section">
			<div class="page-title">내 정보</div>
			<div class="page-menu">
				<div class="menu-title">
					<ul>
						<li>마이페이지 메뉴</li>
						<li>
							<th:block th:if="${session.member == null && session.doctor == null}">
                           		<a href="/">내 정보</a>
							</th:block>
							<th:block th:if="${session.member != null}">
								<a href="/member/mypage">내 정보</a>
							</th:block>
							<th:block th:if="${session.doctor != null}">
                            	<a href="/doctor/mypage">내 정보</a>
							</th:block>
						</li>
						<li>
							<th:block th:if="${session.member == null && session.doctor == null}">
                           		<a href="/">내 진료 기록</a>
							</th:block>
							<th:block th:if="${session.member != null}">
								<a href="/member/mypage">내 진료 기록</a>
							</th:block>
							<th:block th:if="${session.doctor != null}">
                            	<a href="/doctor/mypage">내 진료 기록</a>
							</th:block>
						</li>
						<li>
							<th:block th:if="${session.member == null && session.doctor == null}">
                           		<a href="/">내 문의/리뷰 기록</a>
							</th:block>
							<th:block th:if="${session.member != null}">
								<a href="/member/qna">내 문의/리뷰 기록</a>
							</th:block>
							<th:block th:if="${session.doctor != null}">
								<a href="/doctor/qna">내 문의/리뷰 기록</a>                            	
							</th:block>
						</li>
					</ul>
				</div>
				<div class="info">
					<div class="img">
						<img src="/img/백강혁.webp">
					</div>
					<div class="intro">
						<form action="/member/update" method="post">
							<table class="tbl">
								<tr>
									<th width="50%">아이디</th>
									<td width="50%" th:text="${member.memberId}"></td>
								</tr>
								<tr>
									<th><label for="memberPw">비밀번호</label></th>
									<td>
										<div class="input">
											<input type="password" name="memberPw" id="memberPw" th:value="${member.memberPw}">
										</div>
									</td>
								</tr>
								<tr>
									<th>이름</th>
									<td th:text="${member.memberName}"></td>
								</tr>								
								<tr>
									<th><label for="memberPhone">전화번호</label></th>
									<td>
										<div class="input">
											<input type="text" name="memberPhone" id="memberPhone" th:value="${member.memberPhone}">
										</div>
									</td>
								</tr>
								<tr>
									<th>성별</th>
									<td th:text="${member.memberGender}"></td>
								</tr>
								<tr>
									<th><label for="memberEmail">이메일</label></th>
									<td>
										<div class="input">
											<input type="text" name="memberEmail" id="memberEmail" th:value="${member.memberEmail}">
										</div>
									</td>
								</tr>
								<tr>
									<th><label for="memberAddr">주소</label></th>
									<td>
										<div class="input">
											<input type="text" name="memberAddr" id="memberAddr" th:value="${member.memberAddr}">
										</div>
									</td>
								</tr>
								<tr>
									<th>가입일</th>
									<td th:text="${member.enrollDate}"></td>
								</tr>
							</table>
							<div class="btn">
								<button type="submit">정보 수정</button>
								<button type="button" class="del">회원 탈퇴</button>
							</div>	
						</form>
					</div>
				</div>
			</div>
		</section>
	</main>
	<th:block th:include="common/footer"></th:block>
	<script>
		$(".del").on("click",function(){
			
		});
	</script>
</body>
</html>