<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Help DOC - 회원가입</title>
<style>
	.valid{
		color: blue;
	}
	.invalid{
		color: red;
	}
	.msg{
		border: 1px solid black;
		width: 200px;
	}
	.title{
		display: flex;
		justify-content: center;
		font-size: 30px;
		margin-top: 20px;
		margin-bottom: 20px;
		color: rgba(0,153,153,0.5);
		font-weight: 900;
	}
.section{
    width: 800px;
    margin: 0 auto;
    border-radius: 10px;
.input{
		margin-bottom: 10px;
	}
	.input-name{
		color: rgba(0,153,153,0.5);
		font-weight: 900;
		margin-bottom: 5px;
	}
	.input-item {
		display: flex;
		gap: 10px;
	}
	.input-item > input {
		flex: 1;
		font-size: 16px;
		line-height: 1.5;
		border: 3px solid transparent;
		border-bottom: 3px solid rgba(0,153,153,0.5);
		padding: 8px 0px;
		text-indent: 2%;
		
	}
	.input-item> input:focus{
		border: 3px solid rgba(0,153,153,0.5);
		border-radius: 10px;
	}
	.input-item span{
		font-size: 20px;
		align-items: center;
	}
	div>button{
		margin-top: 10px;
		margin-bottom: 10px;
		border-radius: 10px;
		font-weight: 900;
		height: 40px;
		background-color: rgba(0,153,153,0.5);
		color: #fff;
		cursor: pointer;
		border: none;
		padding-left: 20px;
		padding-right: 20px;
	}
	div>button:hover{
		box-shadow: 0px 5px 10px rgba(91, 91, 91, 0.1);
	}
	#genderBox{
		line-height: 45px;
		text-align: center;
		color: rgba(0,153,153,0.5);
		border: 3px solid rgba(0,153,153,0.5);
		font-weight: 900;
		width: calc(100% / 2);
		gap: 0px;
		height: 50px;
		cursor: pointer;
	}
	.terms-page{
		border: 3px solid rgba(0,153,153,0.5);
		border-radius: 10px;
		padding: 10px;
	}
</style>
</head>
<body>
	<th:block th:include="common/header"></th:block>
	<main class="main">
		<section class="section">
			<div class="title">회원가입</div>
			<form action="/member/register" method="post">
				<div class="input">
					<div class="input-name">
						<label for="memberId">아이디*</label>
						<span id="idCheckMsg"></span>
					</div>
					<div class="input-item">
						<input type="text" class="essen" name="memberId" id="memberId">
						<button type="button" class="idCheck">중복체크</button>
					</div>
				</div>
				<div class="input">
					<div class="input-name">
						<label for="memberPw">비밀번호*</label>
						<span id="pwCheckMsg"></span>
					</div>
					<div class="input-item">
						<input type="text" class="essen" name="memberPw" id="memberPw">
					</div>
				</div>
				<div class="msg">
		            <div>8글자 이상 12글자 이하</div>
		            <div>알파벳 대문자 포함</div>
		            <div>알파벳 소문자 포함</div>
		            <div>숫자 포함</div>
		            <div>특수문자 포함(!,@,#,$,%)</div>
		        </div>
				<div class="input">
					<div class="input-name">
						<label for="memberPwRe">비밀번호 확인*</label>
						<span id="pwReCheckMsg"></span>
					</div>
					<div class="input-item">
						<input type="text" class="essen" name="memberPwRe" id="memberPwRe">
					</div>
				</div>
				<div class="input">
					<div class="input-name">
						<label for="memberName">이름*</label>
						<span id="nameCheckMsg"></span>
					</div>
					<div class="input-item">
						<input type="text" class="essen" name="memberName" id="memberName">
					</div>
				</div>
				<div class="input">
					<div class="input-name">
						<label for="memberPhone">전화번호*</label>
						<span id="phoneCheckMsg"></span>
					</div>
					<div class="input-item">
						<input type="text" class="essen" name="memberPhone" id="memberPhone">
					</div>
				</div>
				<div class="input">
					<div class="input-name">
						<label for="memberEmail">이메일*</label>
					</div>
					<div class="input-item">
						<input type="text" name="memberEmail" id="memberEmail">
						<span>@</span>
						<input type="text" name="com1" id="com1">
						<select name="com2" id="com2">
							<option value="">직접입력</option>
							<option value="naver.com">naver.com</option>
							<option value="gmail.com">gmail.com</option>
							<option value="daum.net">daum.net</option>
						</select>
						<button type="button" class="emailCheck">인증문자 전송</button>
					</div>
					<div class="input-item emailToggle" style="display: none;">
						<input type="text" class="essen" name="memberAuth" id="memberAuth">
						<button type="button" class="emailAuth">인증 확인</button>
						<span id="time-zone"></span>
						<span id="authMsg"></span>
					</div>
				</div>
				<div class="input">
					<div class="input-name">
						<label for="memberAddr">주소</label>
					</div>
					<div class="input-item">
						<input type="text" name="memberAddr" id="memberAddr">
					</div>
				</div>
				<div class="input">
					<div class="input-name">
						<label for="memberGender">성별*</label>
					</div>
					<div class="input-item essen">
						<input type="radio" name="memberGender" id="man" value="남" hidden>
						<label for="man" id="genderBox">남자</label>
						<input type="radio" name="memberGender" id="woman" value="여" hidden>
						<label for="woman" id="genderBox">여자</label>
					</div>
				</div>
				<div class="input">
					<div class="input-name">
						<span>약관*</span>
					</div>
					<div>
						<div class="terms-page">
							아주 긴 장문의 약관
						</div>
					</div>
					<div class="input-item">
						<input type="checkbox" name="agree" id="agree1">
						<label for="agree1">동의</label>
					</div>
					<div>
						<div class="terms-page">
							아주 긴 장문의 약관
						</div>
					</div>
					<div class="input-item">
						<input type="checkbox" name="agree" id="agree2">
						<label for="agree2">동의</label>
					</div>
					<div class="input-item">
						<input type="checkbox" class="essen" id="all-agree">
						<label for="all-agree">모든 약관에 동의</label>
					</div>
				</div>
				<div class="input">
					<div class="input-item">
						<button type="submit" class="regist">회원가입</button>
						<button type="button"><a href="/">취소</a></button>
					</div>
				</div>
				<div>
					<span id="registCheckMsg"></span>
				</div>
			</form>
		</section>
	</main>
	<script>
		$(".regist").prop("disabled", true);
		$(".msg").hide();
		const essen = $(".essen");
		
		//아이디 조건
		$(".idCheck").on("click", function(){
			const memberId = $("#memberId").val();
			const icm = $("#idCheckMsg");
			icm.removeClass("invalid").removeClass("valid").text("");
			const regExp = /^[a-zA-Z0-9]{5,20}$/;
			if(regExp.test(memberId)){
				$.ajax({
					url: "/member/idCheck",
					type: "get",
					data: {memberId: memberId},
					success: function(e){
						if(e === 1){
							icm.text("사용 가능한 아이디 입니다.")
							icm.addClass("valid");
							essen.eq(0).addClass("correct");
						}else {
							icm.text("사용 할 수 없는 아이디 입니다.")
							icm.addClass("invalid");
							essen.eq(0).removeClass("correct");
						}
					},
					error: function(){
						console.log("에러");
					}
				});
			}else{
				icm.text("최소 아이디는 5자 입니다.")
				icm.addClass("invalid");
				essen.eq(0).removeClass("correct");
			}
			allCorrect();
		});
		
		$("#memberPw").on("keyup", function(){
		    const pwValue = $("#memberPw").val();
		    const regArr = [
		        /^.{8,12}$/,
		        /[A-Z]/,
		        /[a-z]/,
		        /[0-9]/,
		        /[!@#$%]/
		    ];
		    for(let i=0; i<regArr.length; i++){
		        const check = regArr[i].test(pwValue);
		        if(check){
		            $(".msg>div").eq(i).addClass("valid");
		        }else{
		            $(".msg>div").eq(i).removeClass("valid");
		        }
		    }
		});
		let pwMsg = $("#pwCheckMsg");
		$("#memberPw").on("focus", function(){
			$(".msg").show();
		});
		
		//비밀번호 조건
		$("#memberPw").on("focusout", function(){
			const eq0 = $(".msg>div").eq(0);
			const eq1 = $(".msg>div").eq(1);
			const eq2 = $(".msg>div").eq(2);
			const eq3 = $(".msg>div").eq(3);
			const eq4 = $(".msg>div").eq(4);
			if(eq0.hasClass("valid") && eq1.hasClass("valid") && eq2.hasClass("valid") && eq3.hasClass("valid") && eq4.hasClass("valid")){
				pwMsg.removeClass("invalid").text("");
				pwMsg.addClass("valid").text("올바른 비밀번호 입니다.");
				essen.eq(1).addClass("correct");
			}else {
				pwMsg.removeClass("valid").text("");
				pwMsg.addClass("invalid").text("비밀번호 조건을 확인해 주세요.");
				essen.eq(1).removeClass("correct");
			}
			$(".msg").hide();
			const pwV = $("#memberPw").val();
			const pwReV = $("#memberPwRe").val();
			const pwReMsg = $("#pwReCheckMsg");
			if(pwV === pwReV && pwReV !== ""){
				pwReMsg.removeClass("invalid");
				pwReMsg.addClass("valid").text("비밀번호와 일치합니다.");
				essen.eq(2).addClass("correct");
			}
			allCorrect();
		});
		
		//비밀번호 확인 조건
		$("#memberPwRe").on("focusout", function(){
			const pwV = $("#memberPw").val();
			const pwReV = $("#memberPwRe").val();
			const pwReMsg = $("#pwReCheckMsg");
			if(pwV === pwReV && pwReV !== ""){
				pwReMsg.removeClass("invalid");
				pwReMsg.addClass("valid").text("비밀번호와 일치합니다.");
				essen.eq(2).addClass("correct");
			}else {
				pwReMsg.removeClass("valid");
				pwReMsg.addClass("invalid").text("비밀번호와 일치해야 합니다.");
				essen.eq(2).removeClass("correct");
			}
			allCorrect();
		});
		
		//이름 확인
		$("#memberName").on("focusout", function(){
			const nameV = $("#memberName").val();
			const nameMsg = $("#nameCheckMsg");
			const regExp1 = /^[가-힣]{1,10}$/;
			const regExp2 = /^[a-zA-Z]{1,30}$/;
			if(regExp1.test(nameV) || regExp2.test(nameV)){
				nameMsg.removeClass("invalid");
				nameMsg.addClass("valid").text("이름 입력이 완료되었습니다.");
				essen.eq(3).addClass("correct");
			}else{
				nameMsg.removeClass("valid");
				nameMsg.addClass("invalid").text("이름을 입력해 주세요.");
				essen.eq(3).removeClass("correct");
			}
		});
		
		//전화번호 확인
		$("#memberPhone").on("focusout", function(){
			const phoneV = $("#memberPhone").val();
			const phoneMsg = $("#phoneCheckMsg");
			const regExp = /^01([0|1|6|7|8|9]?)-([0-9]{4})-([0-9]{4})$/;
			if(!regExp.test(phoneV)){
				phoneMsg.removeClass("valid").text("");
				phoneMsg.addClass("invalid").text("올바른 전화번호를 입력해주세요.");
				essen.eq(4).removeClass("correct");
			}else {
				phoneMsg.removeClass("invalid").text("");
				phoneMsg.addClass("valid").text("완료되었습니다.");
				essen.eq(4).addClass("correct");
			}
			allCorrect();
		});
		$("#com2").on("change", function(){
			const it = $("#com2").val();
			const com = $("#com1").val(it);
		});
		
		//이메일 조건 1
		let mailCode = null;
		$(".emailCheck").on("click", function(){
			const email1 = $("#memberEmail").val();
			const email2 = $("#com1").val();
			const memberEmail = email1+"@"+email2;
			if(email1 !== "" && email2 !== ""){
				$.ajax({
					url: "/member/sendCode",
					data: {memberEmail: memberEmail},
					success: function(data){
						mailCode = data;
						$(".emailToggle").show();
						authTime();
					}
				});
			}
		});
		//이메일 조건 2
		$(".emailAuth").on("click", function(){
			const memberAuth = $("#memberAuth").val();
			let authMsg = $("#authMsg");
			authMsg.removeClass("invalid").removeClass("valid").text("");
			if(memberAuth === mailCode){
				window.clearInterval(intervalid);
				mailCode = null;
				authMsg.addClass("valid").text("인증되었습니다.");
				
				$("#memberEmail").prop("readonly", true);
				$("#memberAuth").prop("readonly", true);
				$("#com1").prop("readonly", true);
				$("#com2").prop("disabled", true);
				$(".emailAuth").prop("disabled", true);
				$(".emailCheck").prop("disabled", true);
				$("#time-zone").remove();
				essen.eq(5).addClass("correct");
			}else {
				authMsg.addClass("invalid").text("인증번호가 다릅니다.");
				essen.eq(5).removeClass("correct");
			}
			allCorrect();
		});
		let intervalid = null;
		function authTime(){
			$("#time-zone").html("<span id='min'>3</span> : <span id='sec'>00</span>");
			
			intervalid = window.setInterval(function(){
				const min = $("#min").text();
				const sec = $("#sec").text();
				if(sec === "00"){
					if(min === "0"){
						window.clearInterval(intervalid);
						mailCode = null;
						$("#authMsg").text("인증시간이 만료되었습니다.");
						$("#authMsg").css("color","red");
					}else{
						const newMin = Number(min) -1;
						$("#min").text(newMin);
						$("#sec").text(59);
					}
				}else{
					const newSec = Number(sec) -1;
					if(newSec < 10){
						$("#sec").text("0"+newSec);
					}else{
						$("#sec").text(newSec);
					}
				}
			},1000);
		};
		
		$("[type=radio]").on("change", function(){
			essen.eq(6).addClass("correct");
			allCorrect();
		});
		
		//동의 확인
		const allAgree = $("#all-agree");
		const agree = $("[name=agree]");
		allAgree.on("click", function(){
			const allCheck = allAgree.is(":checked");
			if(allCheck){
				agree.prop("checked", true);
				essen.eq(7).addClass("correct");
			}else {
				agree.prop("checked", false);
				essen.eq(7).removeClass("correct");
			}
			allCorrect();
		});
		agree.on("click", function(){
			const agreeCount = agree.length;
			const agreeCheckCount = $("[name=agree]:checked").length;
			if(agreeCount === agreeCheckCount){
				allAgree.prop("checked", true);
				essen.eq(7).addClass("correct");
			}else{
				allAgree.prop("checked", false);
				essen.eq(7).removeClass("correct");
			}
			allCorrect();
		});
		function allCorrect(){
			const all = $(".correct").length;
			if(all === 8){
				$(".regist").prop("disabled", false);
			}
		};
		$(".regist").on("click", function(){
			const correctCheck = $(".regist").is(":disabled");
			let registCorrectCheck = $("#registCheckMsg");
			if(correctCheck){
				registCorrectCheck.text("모든 *를 올바르게 입력해 주세요.")
			}
		})
	</script>
	<th:block th:include="common/footer"></th:block>
</body>
</html>