<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>이용안내 - 오시는 길</title>
<style>
	#map{
		margin: 0 auto;
	}
	.page-title{
		text-align: center;
		padding: 30px;
		font-size: 25px;
	}
	.metro{
		margin: 0 auto;
		margin-top: 30px;
		width: 90%;
		border: 1px solid black;
		border-radius: 20px;
		padding: 20px;
	}
</style>
</head>
<body>
	<th:block th:include="common/header"></th:block>
	<main class="main">
		<section class="section">
			<div class="page-title">오시는 길</div>
			<div id="map" style="width:90%;height:600px;"></div> 
			<div class="metro">
				<div class="metro-title">
					<h3>지하철 이용 안내</h3>
					<p>2호선 1번 출구 도보 10분</p>
					<p>9호선 12번 출구 도보 10분</p>
				</div>
			</div>
		</section>
	</main>
	<th:block th:include="common/footer"></th:block>
	<script type="text/javascript" src="https://oapi.map.naver.com/openapi/v3/maps.js?ncpClientId=nf16rbrofy&submodules=geocoder"></script>
	<script>
		const map = new naver.maps.Map("map", {
			center : new naver.maps.LatLng(37.5338151, 126.8969784),
			zoom : 17,
			zoomControl : true,
			zoomControlOption : {
				position : naver.maps.Position.TOP_RIGHT,
				style : naver.maps.ZoomControlStyle.SMALL
			}
		});
		const marker = new naver.maps.Marker({
			position : new naver.maps.LatLng(37.5338151, 126.8969784),
			map : map
		});
		let contentString =[
			"<div class='iw-inner'>",
			"	<h3>HELP DOC</h3>",
			"	<p>서울시 영등포구 선유2로 57 이레빌딩 19층 A강의장</p>",
			"</div>"
		].join("");
		let infoWindow = new naver.maps.InfoWindow();
		naver.maps.Event.addListener(marker, "click", function(e){
			infoWindow = new naver.maps.InfoWindow({
				content : contentString
			});
			infoWindow.open(map, marker);
		});
		naver.maps.Event.addListener(map, "click", function(e){
			map.setCenter(e.coord);
			marker.setPosition(e.coord);
			if(infoWindow.getMap()){
				infoWindow.close();
			}
			naver.maps.Service.reverseGeocode({
				location : e.coord
			},function(status, response){
				if(status != naver.maps.Service.Status.OK){
					alert("주소를 찾을 수 없습니다.");
					return;
				}
				console.log(response);
				const address = response.result.items[0].address;
				contentString = [
					"<div class='iw-inner'>",
					"   <p>"+address+"</p>",
					"</div>"					
				].join("");
			});
		});
	</script>
</body>
</html>