<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Help DOC | 의사 진료 소견서</title>
</head>
<body>
	<th:block th:include="common/header"></th:block>
	<main class="main">
		<th:block th:include="common/menuRemote"></th:block>
		<section class="opinion-section section">
			<div class="opinion-page">
				<div class="page-title opinion-title" th:text="'NO. '+${t.treatmentNo}+' 진료 소견서'"></div>
				<form action="/doctor/opinionSubmit" method="post">
					<input type="text" name="treatmentNo" th:value="${t.treatmentNo}" hidden>
					<table class="tbl opinion-tbl">
						<tr>
							<th>성함</th>
							<td colspan="2" th:text="${t.memberName}"></td>
							<th>성별</th>
							<td th:text="${t.memberGender}"></td>
							<th>이메일</th>
							<td colspan="4"th:text="${t.memberEmail}"></td>
						</tr>
						<tr>
							<th >주소</th>
							<td colspan="4" th:text="${t.memberAddr}"></td>
							<th>전화번호</th>
							<td colspan="4" th:text="${t.memberPhone}"></td>
						</tr>
						<tr>
							<th rowspan="3">증상</th>
							<th:block th:if="${t.isDone} == '0'">
								<td colspan="4" rowspan="3" class="opinion-input"><input type="text" class="symptom" name="opinionSymptom"></td>
							</th:block>
							<th:block th:if="${t.isDone} == '1'">
								<td colspan="4" rowspan="3" class="opinion-input" th:text="${t.opinionSymptom}"></td>
							</th:block>
							<th>담당 의사</th>
							<td colspan="4" th:text="${session.doctor.doctorName}"></td>
						</tr>
						<tr>
							<th>진료과</th>
							<td colspan="4" th:text="${t.departmentName}"></td>
						</tr>
						<tr>
							<th>진단일</th>
							<td colspan="4" th:text="${t.appointDate}"></td>
						</tr>
						<tr>
							<th colspan="10">의사 소견서</th>
						</tr>
						<tr>
							<th:block th:if="${t.isDone} == '0'">
								<td colspan="10" class="opinion-input"><input type="text" class="decision" name="opinionDecision"></td>
							</th:block>
							<th:block th:if="${t.isDone} == '1'">
								<td colspan="10" class="opinion-input" th:text="${t.opinionDecision}"></td>
							</th:block>
						</tr>
						<tr class="buttons">
							<td colspan="2">
								<th:block th:if="${t.isDone} == '0'">
									<button type="submit" class="opinionCheck submit-button one-button">소견서 작성</button>
								</th:block>
								<th:block th:if="${t.isDone} == '1'">
									<button type="button" class="opinionCheck submit-button one-button" disabled>작성 완료</button>
								</th:block>
							</td>
							<td colspan="2">
								<a href="/doctor/mypage"><button type="button" class="submit-button two-button">취소</button></a>
							</td>
							<td colspan="3" class="wrong-message">
								
							</td>
							<td colspan="3">
								<th:block th:if="${t.isDone} == '0'">
									<button type="button" class="submit-button four-button">진료 중</button>
								</th:block>
								<th:block th:if="${t.isDone} == '1'">
									<button type="button" class="submit-button four-button" style="">진료 완료</button>
								</th:block>
							</td>
						</tr>
					</table>
				</form>
			</div>
		</section>
	</main>
	<script>
		
		/* $(".opinionCheck").on("click", function(){
			const symptomV = $(".symptom").val();
			const decisionV = $(".decision").val();
			const symptom = $(".symptom");
			const decision = $(".decision");
			const treatNo = [[${t.treatmentNo}]]
			if(symptomV === "" || decisionV === ""){
				$(".wrong-message").text("증상과 소견서 모두 작성해주세요.");
				$(".opinionCheck").preventDefault();
			}else {
				$.ajax({
					url: "/doctor/opinionSubmit",
					data: {opinionSymptom: symptomV, opinionDecision: decisionV, treatmentNo: treatNo},
					success: function(r){
						if(r !== 0){
							swal({
								title: "소견서 작성 완료",
								text: "소견서 작성이 완료되었습니다.",
								icon: "success",
							})
						}else{
							swal({
								title: "소견서 작성 실패",
								text: "소견서 작성이 실패했습니다.",
								icon: "error",
							})
						}
					},
					error: function(){
						console.log("에러");
					}
				});
			}
		}) */
	</script>
	<th:block th:include="common/footer"></th:block>
</body>
</html>