<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Help DOC | 의사 내 정보</title>
</head>
<body>
	<th:block th:include="common/header"></th:block>
	<main class="main">
		<th:block th:include="common/menuRemote"></th:block>
		<section class="section mypage-section">
			<div class="page-title">내 정보</div>
			<div class="info mypage-info">
				<div class="myImg">
					<div class="union-title">
						<img src="/img/logo2.png" class="union-logo"> <span
							class="union-name">즥이는 의사 협의회</span>
					</div>
					<img th:src="@{'/doctor/' + ${doctor.doctorImg}}">
				</div>
				<div class="intro">
					<form action="/doctor/update" method="post">
						<table class="mypage-tbl">
							<th:block th:if="${department} != null">
								<tr>
									<th>담당과</th>
									<td th:text="${department.departmentName}"></td>
								</tr>
							</th:block>
							<tr>
								<th>이름</th>
								<td th:text="${doctor.doctorName}"></td>
							</tr>
							<tr>
								<th>아이디</th>
								<td th:text="${doctor.doctorId}"></td>
							</tr>
							<tr>
								<th><label for="doctorPw">비밀번호</label></th>
								<td>
									<div class="input">
										<input type="password" name="doctorPw" id="doctorPw"
											th:value="${doctor.doctorPw}">
									</div>
								</td>
							</tr>
							<tr>
								<th><label for="doctorPhone">전화번호</label></th>
								<td>
									<div class="input">
										<input type="text" name="doctorPhone" id="doctorPhone"
											th:value="${doctor.doctorPhone}">
									</div>
								</td>
							</tr>
							<tr>
								<th><label for="doctorEmail">이메일</label></th>
								<td>
									<div class="input">
										<input type="text" name="doctorEmail" id="doctorEamil"
											th:value="${doctor.doctorEmail}">
									</div>
								</td>
							</tr>
						</table>
						<div class="input">
							<div class="input-item">
								<th:block th:if="${doctor.doctorId} != 'admin'">
									<button type="submit" class="submit-button one-button">정보
										수정</button>
								</th:block>
								<th:block th:if="${doctor.doctorId} == 'admin'">
									<a href="/admin/addAcount"><button type="button"
											class="submit-button two-button">의사 가입 / 해지</button></a>
									<a href="/admin/allMember?memberNo=1&doctorNo=1"><button type="button"
											class="submit-button three-button">전체 회원 관리</button></a>
									<a href="/admin/allSchedule?reqPage=1"><button type="button"
											class="submit-button four-button">전체 진료 기록</button></a>
								</th:block>
							</div>
						</div>
					</form>
				</div>
			</div>
			</div>
		</section>
	</main>
	<th:block th:include="common/footer"></th:block>
</body>
</html>