<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>의사 내 정보</title>
</head>
<body>
	<th:block th:include="common/header"></th:block>
	<main class="main">
		<th:block th:include="common/menuRemote"></th:block>
		<section class="section">
			<div class="page-title">내 정보</div>
			<div class="info mypage-info">
				<div class="img">
					<img src="/doctor/+${doctor.doctorImg}">
				</div>
				<div class="intro">
					<form action="/doctor/update" method="post">
						<table class="tbl">
							<tr>
								<th width="50%">담당과</th>
								<td width="50%" th:text="${departmentName}"></td>
							</tr>
							<tr>
								<th>이름</th>
								<td th:text="${doctor.doctorName}"></td>
							</tr>
							<tr>
								<th>아이디</th>
								<td th:text="${doctor.doctorId}"></td>
							</tr>
							<tr>
								<th><label for="doctorPw">비밀번호</label></th>
								<td>
									<div class="input">
										<input type="password" name="doctorPw" id="doctorPw" th:value="${doctor.doctorPw}">
									</div>
								</td>
							</tr>
							<tr>
								<th><label for="doctorPhone">전화번호</label></th>
								<td>
									<div class="input">
										<input type="text" name="doctorPhone" id="doctorPhone" th:value="${doctor.doctorPhone}">
									</div>
								</td>
							</tr>
							<tr>
								<th><label for="doctorEmail">이메일</label></th>
								<td>
									<div class="input">
										<input type="text" name="doctorEmail" id="doctorEamil" th:value="${doctor.doctorEmail}">
									</div>
								</td>
							</tr>
						</table>
						<div class="btn">
							<button type="submit">정보 수정</button>
							<a th:if="${doctor.doctorId == 'admin'}" href="/admin/mainPage">관리자페이지</a>
						</div>	
					</form>
				</div>
			</div>
			</div>
		</section>
	</main>
	<th:block th:include="common/footer"></th:block>
</body>
</html>