<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>의사 내 문의/리뷰 기록</title>
</head>
<body>
	<th:block th:include="common/header"></th:block>
	<main class="main">
		<th:block th:include="common/menuRemote"></th:block>
		<section class="section mypage-section">
			<div class="page-title">내 문의/리뷰 기록</div>
			<div class="page-menu">
				<div class="info review-page">
					<table class="qna-tbl">
						<tr>
							<th style="width:10%">문의번호</th>
							<th style="width:40%">내용</th>
							<th style="width:15%">답변</th>
							<th style="width:10%">작성일</th>
						</tr>
						<tr th:each="comment : ${commentList}" class="myList">
							<td th:text="${comment.commentNo}"></td>
							<td th:text="${comment.commentContent}"></td>
							<td>답변</td>
							<td th:text="${comment.commentDate}"></td>
						</tr>	
					</table>
					<a href="/doctor/myMedicalRecordsPageFrm?reqPage=1"><button type="button" class="allQna submit-button one-button">전체 문의 보기</button></a>
				</div>
				<div class="info review-page">
					<table class="qna-tbl">
						<tr>
							<th style="width:15%">리뷰번호</th>
							<th style="width:40%">내용</th>
							<th style="width:15%">담당의</th>
							<th style="width:15%">별점</th>
							<th style="width:15%">작성일</th>
						</tr>
						<tr th:each="review : ${reviewList}" class="myList">
							<td th:text="${review.reviewNo}"></td>
							<td th:text="${review.reviewContent}"></td>
							<td th:text="${review.doctorName}"></td>
							<td class="star-cell" th:attr="data-star=${review.reviewStar}"></td>
							<td th:text="${review.reviewDate}"></td>
						</tr>
					</table>
					<a href="/review/list?reqPage=1"><button type="button" class="allReview submit-button one-button">전체 리뷰 보기</button></a>						
				</div>
			</div>
		</section>
	</main>
	<th:block th:include="common/footer"></th:block>
	<script>       
		$(".star-cell").each(function () {
		    let starCount = parseInt($(this).attr("data-star")) || 0;
		    let stars = "";
		    for (let i = 0; i < 5; i++) {
		        if (i < starCount) {
		            stars += '<span class="material-icons star">star_rate</span>';
		        } else {
		            stars += '<span class="material-icons star" style="color: lightgray;">star_rate</span>';
		        }
		    }
		    $(this).html(`<div class="star-wrap">${stars}</div>`);
		});
    </script>
</body>
</html>